@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter/Inter_18pt-ExtraBold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/static/Roboto-Regular.ttf");
}