.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0;
    text-align: center;
}

.hero__study-label {
    justify-self: center;
}

.hero__intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__intro h1 {
    line-height: 3.6rem;
    font-size: 3.3rem;
    color: var(--large-text-color);
}

.hero__intro p {
    max-width: 50rem;
    padding: 0 2rem;
    font-size: 0.9rem;
}

/* Carousel */
.hero__slider {
    position: relative;
    width: 98vw;
    height: 500px;
    margin: 0 auto;
    perspective: 1200px;
    overflow: hidden;
}

.hero__slider-img-item {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 40rem;
    height: auto;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 8px 10px #555;
    transition: box-shadow 0.3s ease;
    object-fit: cover;
}

.hero__slider-img-item:hover {
    box-shadow: 0 12px 20px #555;
}

.hero__slider-img-item:nth-child(1) {
    z-index: 1;
}

.hero__slider-img-item:nth-child(2) {
    z-index: 3;
}

.hero__slider-img-item:nth-child(3) {
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .hero__slider-img-item {
        width: 90%;
        max-width: 90vw;
    }
}

.content {
    text-align: center;
    color: #999;
    margin-top: 60px;
    font-size: 0.9em;
}