.usecase {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 0;
}

.usecase__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.45fr 1.4fr;
    gap: 1rem;
}

.usecase__text {
    font-family: "Inter Bold", "Arial Black", sans-serif;
    font-weight: bold;
    color: var(--large-text-color-fixed);
}

.usecase__text--small {
    margin-bottom: 1.8rem;
}

.usecase__text--large {
    font-size: 1.9rem;
}

.usecase__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.8rem 3rem;
    background: var(--secondary-light-color);
    border-radius: 40px;
    transition: 0.3s ease;
}

.usecase__item:hover {
    transform: scale(1.01);
    box-shadow: 1px 2px 15px var(--regular-shadow-color);
}

.usecase__item--team {
    height: fit-content;
    background: #fff;
    max-width: 100%;
    height: auto;
    grid-row: 2 / 4;
    padding: 0;
}

.usecase__item--additional .usecase__text,
.usecase__item--extra .usecase__text {
    color: #fff;
}

.usecase__item--additional {
    background: var(--secondary-color);
}

.usecase__item--extra {
    grid-row: 3 / 5;
    background: var(--secondary-extra-color);
}

@media screen and (max-width: 1100px) {
    .usecase__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
}